*__pycache__/
.idea/
local/*
!local/README
/data/*
!data/*.sh
!data/preprocess/
/trace.csv
*.csv
*.pyc
.mypy_cache
/trace.yaml
kge.egg-info
docs/_build
*.log
*.prof
/libkge.egg-info/
!/docs/examples/dump-example-model.csv
!/docs/examples/dump-example-search.csv
/.projectile
/tests/data/dataset_test/*.pckl
