job:
  type: train                 # train, eval, grid, ...
  device: 'cuda'

## INPUT/OUTPUT ################################################################

dataset:
  name: 'toy'

  # training, validation, and test data files have the following fields, all
  # tab-separated:
  # - 0: subject index
  # - 1: relation index
  # - 2: object index
  # - 3-...: arbitrary metadata fields
  # Indexes are assumed to be dense throughout.
  train: train.del
  valid: valid.del
  test: test.del

  # entity and relation maps store auxiliary information about each
  # entity/predicate. Fields are tab-separated:
  # - 0: entity/predicate index (as in train/valid/test)
  # - 1...: arbitrary metadata fields
  entity_map: entity_map.del
  relation_map: relation_map.del

## MODEL #######################################################################

# see model specific configuration files
model: ''                     # distmult, complex, transe, conve, ...


## TRAINING ####################################################################
## Used for training jobs.

train:
  type: 1toN                  # 1toN, negative_sampling
  max_epochs: 20
  optimizer: Adagrad          # sgd, adagrad, adam
  optimizer_args:
    # No default arguments are specified. Here, +++ signals that this option
    # allows arbitrary additional key-value pairs.
    +++: +++
  batch_size: 100
  loss: bce                   # bce, margin_ranking
  num_workers: 0
  pin_memory: False
  trace_level: epoch          # batch or epoch

negative_sampling:
  sampling_type: uniform
  num_negatives_s: 3          # this is default value if others are -1, must not be -1
  num_negatives_p: 0          
  num_negatives_o: -1
  filter_negatives: False

# Configuration options for margin ranking loss
margin_ranking:
  margin: 1.0

# Configuration options for model validation/selection during training.
valid:
  # Validation is run every this many epochs (disable validation with 0)
  every: 5

  # Name of the trace entry that holds the validation metric (higher value is
  # better)
  metric: mean_reciprocal_rank_filtered

  # If the above metric is not present in trace (e.g., because a custom metric
  # should be used), a Python expression to compute the metric. Can refer to
  # trace entries directly and to configuration options via config.
  # Example: 'math.sqrt(mean_reciprocal_rank) + config.get("user.par")'
  metric_expr: ''

  # Number of grace epochs before the training run is stopped early (disable
  # early stopping with 0)
  early_stopping: 2

  # When to write a trace entry. Possible values: example, batch, epoch
  trace_level: epoch

  # Whether test data should be leaked into validation (seriously!). Filtered
  # metrics by default only use train and validation data. When this is set to
  # True, additionally produces "filtered_with_test" validation metrics (such as
  # MRR or HITS@k). Apparently, many existing models have been trained with this
  # set to True during model selection and using a metric such as
  # mean_reciprocal_rank_filtered_with_test.
  filter_with_test: False

checkpoint:
  every: 5                    # epochs (disable with 0)

## EVALUATION ##################################################################
## Used for evaluation jobs.

# fixed metrics: compute MRR and HITS@1, ..., HITS@k
eval:
  data: valid
  type: entity_ranking
  max_k: 10                       # maximum k for HITS@k
  batch_size: 100
  num_workers: 0
  pin_memory: False
  trace_level: example            # example or batch or epoch

## HYPERPARAMETER SEARCH ###############################################################

search:
  # the type of search to run (see descriptions below): manual, grid, ax
  type: ax

  # (maximum) number of parallel training jobs to run during a search
  num_workers: 1

# Manually specify all configurations to try
manual_search:
  # If false, only creates training job folders but does not run the jobs.
  run: True

  # List of configurations to search. Each entry is a record with a field
  # 'folder' (where the training job is stored) and an arbitrary number of other
  # fields that define the search configuration (e.g.
  # 'train.optimizer_args.lr').
  configurations: []


# Metajob for a grid search. Creates a manual search job with all points on the
# grid.
grid_search:
  # If false, only creates manual search job configuration file but does not run
  # it. This may be useful to edit the configuration (e.g., change folder names)
  # or to copy the created configurations to an existing manual search job.
  run: True

  # Define the grid. This is a dict where the key is a (flattened or nested)
  # configuration option (e.g., "train.optimizer_args.lr") and the value is an
  # array of grid-search values (e.g., [ 0.1, 0.01 ]). No default values
  # specified.
  parameters:
    +++: +++

# Dynamic search job that picks configurations using ax
ax_search:
  num_trials: 10

  # Search space definition passed to ax. See create_experiment in
  # https://ax.dev/api/service.html#module-ax.service.ax_client
  parameters: []

## USER PARAMETERS #####################################################################

# These parameters are not used by the kge framework itself. It can be used to
# add additional configuration options or information to this config.
user:
  +++: +++
